section {
  margin-bottom: 20px;
  padding-top: 30px;
  border-top: solid 1px;
}

table {
  width: 860px;
  border-collapse: collapse;
}

table, tr, th, td {
  border: solid 1px;
  padding: 10px;
  text-align: center;
}

caption {
  text-align: left;
}

.text_align_right {
  text-align: right;
}

.name_width {
  width: 100px;
}

.input_text_width {
  width: 60px;
}

.status_false {
  background-color: #A9A9A9;
}

.img_size {
  height: 125px;
}

.success-msg {
  color: blue;
}

.err-msg {
  color: #FF0000;
}